<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title th:text="${event.name}">Event Details</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${event.name}">Event Name</h1>
    <p><strong>Date:</strong> <span th:text="${event.date}">Event Date</span></p>
    <p><strong>Time:</strong> <span th:text="${event.time}">Event Time</span></p>

    <p><strong>Venue:</strong> <span th:text="${venue != null ? venue.name : 'No venue'}">Venue Name</span></p>
    <p><strong>Description:</strong></p>
    <p th:text="${event.description}">Event Description</p> <!-- Display event description -->
	  <form th:action="@{'/events/' + ${event.id}}" method="post">
	    <input type="hidden" name="_method" value="delete"/>
	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	    <button type="submit" class="btn btn-danger">Delete</button>
	  </form>
    <a href="/events" class="btn btn-secondary">Back to Events</a>
  </div>
</body>
</html>